html, body {
  padding: 20px;
  font-family: sans-serif;
}

.feed {
  width: 500px; height: 473px;
  background-image: url(http://i.imgur.com/HckmGbj.png);
  position: relative;
  .like-btn {
    width: 44px; height: 25px;
    background: #D0D0D0;
    position: absolute;
    bottom: 13px; left: 13px;
    cursor: pointer;
    .reaction-box {
      position: absolute;
      width: 318px; height: 55px;
      background: #F0C674;
      border-radius: 28px;
      left: -25px; bottom: 25px;
      display: none;
      .reaction-icon {
        width: 40px; height: 40px;
        display: inline-block;
        background: #8959A8;
        border-radius: 20px;
        margin: 8px -1px 0 8px;
        text-align: center;
        label {
          padding: 3px 5px;
          position: relative;
          top: -24px;
          border-radius: 10px;
          font-size: 11px;
          color: #FFF;
          background: #333;
        }
      }
    }
    &:hover {
      background: #718C00;
      .reaction-box {
        display: block;
        .reaction-icon:hover {
          transform: scale(1.4);
          transform-origin: bottom;
        }
      }
    }
  }
}
